:root {
    scroll-behavior: smooth;
    --body-font-size: 1rem;
    --body-font-family: "Montserrat",Helvetica,sans-serif;
    --body-font-weight: 400;
    --body-line-height: 1.6;
    --body-letter-spacing: 0;
    --body-text-transform: none;
    --body-background-color: #fff;
    --body-color: #2d3139;
}

* {
  font-family: var(--body-font-family);
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: var(--body-font-family);
}

.blurBG{
  background-image: linear-gradient(180deg,hsla(0,0%,100%,.92),hsla(0,0%,100%,.92)),url("https://uploads-ssl.webflow.com/5f80f79786c4517b5951a7a3/62fcea2679e0c60a433a9446_bg-blur-hero.svg");
  background-position: 0 0, 50% 100%;
  background-repeat: no-repeat;
  background-size: auto;
}

.gradients {
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    position: absolute;
  .circle {
    height: 35rem;
    width: 35rem;
    position: absolute;
    border-radius: 50%;
    &.orange {
      background: radial-gradient(50% 50% at 50% 50%,rgba(219,39,119,.2) 0,hsla(0,0%,100%,0) 100%);
      left: -27rem;
      top: -20rem;
    }
    &.purple {
      background: radial-gradient(50% 50% at 50% 50%,rgba(124, 58, 237,.15) 0,hsla(0,0%,100%,0) 100%);
      right: -27rem;
      top: -20rem;
    }
    &.yellow {
      background: radial-gradient(50% 50% at 50% 50%,rgba(220, 38, 38,.2) 0,hsla(0,0%,100%,0) 100%);
      left: auto;
      right: auto;
      bottom: -25rem;
    }
  }
}