:root {
    scroll-behavior: smooth;
    --body-font-size: 1rem;
    --body-font-family: "Montserrat",Helvetica,sans-serif;
    --body-font-weight: 400;
    --body-line-height: 1.6;
    --body-letter-spacing: 0;
    --body-text-transform: none;
    --body-background-color: #fff;
    --body-color: #2d3139;
}

* {
  font-family: var(--body-font-family);
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: var(--body-font-family);
}

.blurBG{
  background-image: linear-gradient(180deg,hsla(0,0%,100%,.92),hsla(0,0%,100%,.92)),url("https://uploads-ssl.webflow.com/5f80f79786c4517b5951a7a3/62fcea2679e0c60a433a9446_bg-blur-hero.svg");
  background-position: 0 0, 50% 100%;
  background-repeat: no-repeat;
  background-size: auto;
}

.gradients {
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    position: absolute;
  .circle {
    height: 35rem;
    width: 35rem;
    position: absolute;
    border-radius: 50%;
    &.orange {
      background: radial-gradient(50% 50% at 50% 50%,rgba(219,39,119,.2) 0,hsla(0,0%,100%,0) 100%);
      left: -27rem;
      top: -20rem;
    }
    &.purple {
      background: radial-gradient(50% 50% at 50% 50%,rgba(124, 58, 237,.15) 0,hsla(0,0%,100%,0) 100%);
      right: -27rem;
      top: -20rem;
    }
    &.yellow {
      background: radial-gradient(50% 50% at 50% 50%,rgba(220, 38, 38,.2) 0,hsla(0,0%,100%,0) 100%);
      left: auto;
      right: auto;
      bottom: -25rem;
    }
  }
}

* {
    user-select: none;
}

.react-colorful__saturation-pointer {
    width: 20px !important;
    height: 20px !important;
    border-radius: 0 !important;
}

.react-colorful__hue {
    height: 20px !important;
    margin-top: 0.5rem;
    border-radius: 0 !important;
}

.react-colorful__pointer .react-colorful__hue-pointer {
    width: 20px;
    height: 20px;
    border-radius: 0 !important;
}


.react-colorful__hue .react-colorful__hue-pointer {
    width: 20px;
    height: 20px;
    border-radius: 0 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.react-player video {
    max-height: 740px;
}

.canvas-container > .upper-canvas {
    display: none!important;
}

.canvas-container > .canvas-container > .upper-canvas {
    display: block!important;
    top: 0!important;
}

.custom-slider {
  .rs-slider-handle {
    background-color: #000;
    
    &::before {
      margin-top:-4px;
      border-color: #000;
      background-color: #000;
    }

    &:hover::before,
    &:focus::before {
      -webkit-box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.25);
      box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.25);
    }
  }

  .rs-slider-bar {
    height: 2px;
    background-color: #f2f2f5;
    cursor: pointer;
    .rs-slider-progress-bar {
      height: 2px;
      background-color: #000;
    }
  }

  .track {
      height: 2px;
      background: black;
  }

  .track-1 {
      background: #f2f2f5;
  }

  .thumb {
      top:-5px;
      width: 12px;
      height: 12px;
      border-radius: 100%;
      text-align: center;
      background-color: black;
      cursor: pointer;
      box-sizing: border-box;
  }

}
